## API conection

In [116]:
#import libraries
import pandas as pd
import numpy as np
import cdsapi
import netCDF4

In [117]:
c = cdsapi.Client()

c.retrieve(
    'reanalysis-era5-land',
    {
        'variable': '2m_dewpoint_temperature',
        'year': '2022',
        'month': '01',
        'day': '01',
        'time': 
            '00:00',
        'area': [
            40, 0, 39.9,
            0.1,
        ],
        'format': 'netcdf',
    },
    'download.nc')

2022-04-26 21:01:31,735 INFO Welcome to the CDS
2022-04-26 21:01:31,737 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-land
2022-04-26 21:01:31,864 INFO Request is completed
2022-04-26 21:01:31,865 INFO Downloading https://download-0007-clone.copernicus-climate.eu/cache-compute-0007/cache/data6/adaptor.mars.internal-1650997954.6944802-10028-17-fc2e15a7-7749-46ff-ab8b-d7f03174663e.nc to download.nc (1.1K)
2022-04-26 21:01:32,150 INFO Download rate 3.8K/s

Result(content_length=1104,content_type=application/x-netcdf,location=https://download-0007-clone.copernicus-climate.eu/cache-compute-0007/cache/data6/adaptor.mars.internal-1650997954.6944802-10028-17-fc2e15a7-7749-46ff-ab8b-d7f03174663e.nc)

In [118]:
from netCDF4 import Dataset
rootgrp = Dataset("../data/download.nc", "w", format="NETCDF4")
print(rootgrp.data_model)
rootgrp.close()

NETCDF4

In [119]:
import xarray as xr
ds = xr.open_dataset("./download.nc")
df = ds.to_dataframe()
df.to_csv("./download.csv")
df = pd.read_csv('download.csv')
df

    latitude  longitude        time        d2m
0  40.000000        0.0  2022-01-01  279.80005
1  40.000000        0.1  2022-01-01        NaN
2  39.900002        0.0  2022-01-01        NaN
3  39.900002        0.1  2022-01-01        NaN

## Format change

In [174]:
path="./download.nc"

In [175]:
df1=pd.DataFrame()
df2=pd.DataFrame()
df3=pd.DataFrame()
df4=pd.DataFrame()

In [176]:
nc=netCDF4.Dataset(path,'r')

In [177]:
variables=nc.variables.keys()

In [178]:
print(variables)

dict_keys(['longitude', 'latitude', 'time', 'd2m'])

In [196]:
time=nc.variables['time']

In [221]:
dtime=netCDF4.num2date(time[:],time.units)
str(dtime[0])

'2022-01-01 00:00:00'

In [193]:
lat_p1 = nc.variables['latitude'][0]
#lat_p1=np.array(nc.variables['latitude'][:,0,0],dtype=type(nc.variables['latitude'][:0,0]))

In [181]:
lat_p2 = nc.variables['latitude'][0]

In [182]:
lat_p3 = nc.variables['latitude'][1]

In [183]:
lat_p4 = nc.variables['latitude'][1]

In [184]:
long_p1 = nc.variables['longitude'][0]

In [190]:
temp_p1=np.array(nc.variables['d2m'][:,0,0],dtype=type(nc.variables['d2m'][:,0,0]))
temp_p2=np.array(nc.variables['d2m'][:,0,1],dtype=type(nc.variables['d2m'][:,0,1]))
temp_p3=np.array(nc.variables['d2m'][:,1,0],dtype=type(nc.variables['d2m'][:,1,0]))
temp_p4=np.array(nc.variables['d2m'][:,1,1],dtype=type(nc.variables['d2m'][:,1,1]))

In [191]:
#df1['lat_p1']=lat_p1
#df1['long_p1']=long_p1
df1['temp']=temp_p1
df2['temp']=temp_p2
df3['temp']=temp_p3
df4['temp']=temp_p4

In [192]:
pd.concat([df1,df2,df3,df4])

         temp
0  279.800049
0    -32767.0
0    -32767.0
0    -32767.0