## API conection

In [54]:
#import libraries
import pandas as pd
import numpy as np
import cdsapi
import netCDF4

In [55]:
c = cdsapi.Client()

c.retrieve(
    'reanalysis-era5-land',
    {
        'variable': '2m_dewpoint_temperature',
        'year': '2022',
        'month': '01',
        'day': '02',
        'time': 
            '00:00',
        'area': [
            43.4, -5.8, 43.3,
            -5.7,
        ],
        'format': 'netcdf',
    },
    'download.nc')

2022-04-27 20:45:56,012 INFO Welcome to the CDS
2022-04-27 20:45:56,014 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-land
2022-04-27 20:45:56,185 INFO Request is completed
2022-04-27 20:45:56,186 INFO Downloading https://download-0002-clone.copernicus-climate.eu/cache-compute-0002/cache/data9/adaptor.mars.internal-1651077964.730288-31584-1-424b10f9-3a25-4ba0-9711-051593416740.nc to download.nc (1.1K)
2022-04-27 20:45:56,472 INFO Download rate 3.8K/s

Result(content_length=1104,content_type=application/x-netcdf,location=https://download-0002-clone.copernicus-climate.eu/cache-compute-0002/cache/data9/adaptor.mars.internal-1651077964.730288-31584-1-424b10f9-3a25-4ba0-9711-051593416740.nc)

In [56]:
            43.4, -5.8, 43.3,
            -5.7,

(-5.7,)

In [58]:
from netCDF4 import Dataset
rootgrp = Dataset("./download.nc", "w", format="NETCDF4")
print(rootgrp.data_model)
rootgrp.close()

PermissionError: [Errno 13] Permission denied: b'./download.nc'

In [59]:
import xarray as xr
ds = xr.open_dataset("./download.nc")
df = ds.to_dataframe()
df.to_csv("./download.csv")
df = pd.read_csv('download.csv')
df

    latitude  longitude        time        d2m
0  40.000000        0.0  2022-01-01  279.80005
1  40.000000        0.1  2022-01-01        NaN
2  39.900002        0.0  2022-01-01        NaN
3  39.900002        0.1  2022-01-01        NaN

## Format change

In [87]:
file_list=['Oviedo','Madrid','Barcelona','Valencia','Sevilla','Zaragoza','Malaga','Murcia','Bilbao','Vigo',
          'Alicante','Cordoba','Valladolid']

In [88]:
for file in file_list:
    path="./"+file +".nc"
    
    df1=pd.DataFrame()
    df2=pd.DataFrame()
    df3=pd.DataFrame()
    df4=pd.DataFrame()
    
    nc=netCDF4.Dataset(path,'r')
    
    variables=nc.variables.keys()
    
    dtime=netCDF4.num2date(time[:],time.units)
    time=str(dtime[0])
    
    df1['time']=time
    df2['time']=time
    df3['time']=time
    df4['time']=time
    
    temp_p1=np.array(nc.variables['d2m'][:,0,0],dtype=type(nc.variables['d2m'][:,0,0]))
    temp_p2=np.array(nc.variables['d2m'][:,0,1],dtype=type(nc.variables['d2m'][:,0,1]))
    temp_p3=np.array(nc.variables['d2m'][:,1,0],dtype=type(nc.variables['d2m'][:,1,0]))
    temp_p4=np.array(nc.variables['d2m'][:,1,1],dtype=type(nc.variables['d2m'][:,1,1]))
    
    df1['temp']=temp_p1
    df2['temp']=temp_p2
    df3['temp']=temp_p3
    df4['temp']=temp_p4
    
    df=pd.concat([df1,df2,df3,df4])

FileNotFoundError: [Errno 2] No such file or directory: b'./Oviedo'

In [99]:
#Defining load
path="./download.nc"

In [113]:
df1=pd.DataFrame()
df2=pd.DataFrame()
df3=pd.DataFrame()
df4=pd.DataFrame()

In [114]:
nc=netCDF4.Dataset(path,'r')

In [115]:
variables=nc.variables.keys()

In [116]:
print(variables)

dict_keys(['longitude', 'latitude', 'time', 'd2m'])

In [125]:
time=nc.variables['time']
dtime=netCDF4.num2date(time[:],time.units)
time=str(dtime[0])
time

'2022-01-02 00:00:00'

In [118]:
df1['time']=time
df2['time']=time
df3['time']=time
df4['time']=time

In [119]:
temp_p1=np.array(nc.variables['d2m'][:,0,0],dtype=type(nc.variables['d2m'][:,0,0]))
temp_p2=np.array(nc.variables['d2m'][:,0,1],dtype=type(nc.variables['d2m'][:,0,1]))
temp_p3=np.array(nc.variables['d2m'][:,1,0],dtype=type(nc.variables['d2m'][:,1,0]))
temp_p4=np.array(nc.variables['d2m'][:,1,1],dtype=type(nc.variables['d2m'][:,1,1]))

In [120]:
df1['temp']=temp_p1
df2['temp']=temp_p2
df3['temp']=temp_p3
df4['temp']=temp_p4

In [121]:
df1['city']="Oviedo"
df2['city']="Oviedo"
df3['city']="Oviedo"
df4['city']="Oviedo"

In [124]:
pd.concat([df1,df2,df3,df4])

  time        temp    city
0  NaN  278.276428  Oviedo
0  NaN  278.297913  Oviedo
0  NaN  278.153382  Oviedo
0  NaN  278.131897  Oviedo

In [48]:
# Asturias - Oviedo: North 43.4°, West -5.8°, South 43.3°, East -5.7°
# Madrid - Madrid: North 40.4°, West -3.7°, South 40.3°, East -3.6°
# Cataluña - Barcelona: North 41.4°, West 2.1°, South 41.3°, East 2.2°
# Comunidad Valenciana - Valencia: North 39.5°, West -0.37°, South 39.4°, East -0.38°
# Andalucia - Sevilla: North 37.4°, West -6.0°, South 37.3°, East -5.9°
# Aragón - Zaragoza: North 41.7°, West -0.8°, South 41.6°, East -0.9°
# Murcia - Murcia: North 38.0°, West -1.1°, South 37.9°, East -1.2°
# País Vasco - Bilbao: North 43.3°, West -2.8°, South 43.2°, East -2.9° 
# Galicia - Vigo: North 42.2°, West -8.6°, South 42.1°, East -8.7°
# Castilla y León - Valladolid: North 41.7°, West -4.6°, South 41.6°, East -4.7°
# Cantabria - Santander: North 43.5°, West -3.7°, South 43.4°, East -3.8°
# La Rioja - Logroño: North 42.5°, West -2.4°, South 42.4°, East -2.5°
# Navarra - Pamplona: North 42.9°, West -1.6°, South 42.8°, East -1.7°
# Castilla la mancha - Albacete: North 39.0°, West -1.8°, South 38.9°, East -1.9°
# Extremadura - Badajoz: North 38.9°, West -6.9°, South 38.8°, East -7.0°

In [ ]:
#calcularlo todo a nivel españa
#ponderar las temperaturas con la población de cada comunidad
#marcar los días como festivos y ponderar los parciales con la población