## Spain Population by region and year

Information coming from INE (https://www.ine.es/jaxiT3/Datos.htm?t=2915)

In [29]:
#Imports
import pandas as pd
import requests 
import bs4   # !pip install beautifulsoup4
import re

In [30]:
df_population=pd.read_csv('../data/Population/Population.csv',sep=';' , encoding='latin-1')
df_population.head()

,Comunidades y Ciudades Autónomas,Tamaño de los municipios,Periodo,Total
0,Total,Total,2021,47.385.107
1,Total,Total,2020,47.450.795
2,Total,Total,2019,47.026.208
3,Total,Total,2018,46.722.980
4,Total,Total,2017,46.572.132

In [31]:
#Filtering data from 2015
df_population=df_population[df_population['Periodo']>=2015]

In [32]:
df_population['Comunidades y Ciudades Autónomas']=df_population['Comunidades y Ciudades Autónomas'].str[3:]

In [33]:
df_population['Comunidades y Ciudades Autónomas'] = \
df_population['Comunidades y Ciudades Autónomas'].replace(['al'],'Total')
df_population['Comunidades y Ciudades Autónomas'] = \
df_population['Comunidades y Ciudades Autónomas'].replace(['Asturias, Principado de'],'Asturias')
df_population['Comunidades y Ciudades Autónomas'] = \
df_population['Comunidades y Ciudades Autónomas'].replace(['Castilla - La Mancha'],'Castilla-La Mancha')
df_population['Comunidades y Ciudades Autónomas'] = \
df_population['Comunidades y Ciudades Autónomas'].replace(['Comunitat Valenciana'],'Comunidad Valenciana')
df_population['Comunidades y Ciudades Autónomas'] = \
df_population['Comunidades y Ciudades Autónomas'].replace(['Comunitat Valenciana'],'Comunidad Valenciana')
df_population['Comunidades y Ciudades Autónomas'] = \
df_population['Comunidades y Ciudades Autónomas'].replace(['Madrid, Comunidad de'],'Madrid')
df_population['Comunidades y Ciudades Autónomas'] = \
df_population['Comunidades y Ciudades Autónomas'].replace(['Murcia, Región de'],'Murcia')
df_population['Comunidades y Ciudades Autónomas'] = \
df_population['Comunidades y Ciudades Autónomas'].replace(['Navarra, Comunidad Foral de'],'Navarra')
df_population['Comunidades y Ciudades Autónomas'] = \
df_population['Comunidades y Ciudades Autónomas'].replace(['Rioja, La'],'La Rioja')

In [34]:
df_population['Comunidades y Ciudades Autónomas'].unique()

array(['Total', 'Andalucía', 'Aragón', 'Asturias', 'Balears, Illes',
       'Canarias', 'Cantabria', 'Castilla y León', 'Castilla-La Mancha',
       'Cataluña', 'Comunidad Valenciana', 'Extremadura', 'Galicia',
       'Madrid', 'Murcia', 'Navarra', 'País Vasco', 'La Rioja', 'Ceuta',
       'Melilla'], dtype=object)

In [35]:
to_exclude = ['Total','Balears, Illes','Canarias','Ceuta','Melilla']

In [36]:
df_population=df_population[~df_population['Comunidades y Ciudades Autónomas'].isin(to_exclude)]

In [37]:
df_population.rename(columns={'Comunidades y Ciudades Autónomas': 'Region', 
                               'Periodo': 'Year', 'Total': 'Population'}, inplace=True)

In [38]:
df_population = df_population.drop('Tamaño de los municipios', 1)

/Users/malva/miniconda3/envs/final_project/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [39]:
df_population.head()

       Region  Year Population
26  Andalucía  2021  8.472.407
27  Andalucía  2020  8.464.411
28  Andalucía  2019  8.414.240
29  Andalucía  2018  8.384.408
30  Andalucía  2017  8.379.820

In [40]:
#sending data to csv
df_population.to_csv("../Data/Raw_Data/df_population.csv")