## Bank holidays by region and year

Information coming from public source: 

https://administracion.gob.es/pag_Home/atencionCiudadana/calendarios/diasInhabiles.html#-b95725c1af8d

In [15]:
#Imports
import pandas as pd
import requests 
import re

In [16]:
df_bank_holidays=pd.read_csv('../data/Bank_Holidays/Bank_holidays.csv', sep=',' , encoding='utf-8')
df_bank_holidays

     Year         Day                Region
0    2015   1/01/2015              Nacional
1    2015   6/01/2015              Nacional
2    2015  28/02/2015             Andalucía
3    2015  19/03/2015  Comunidad Valenciana
4    2015  19/03/2015                Madrid
..    ...         ...                   ...
463  2022  26/12/2022              La Rioja
464  2022  26/12/2022              Cataluña
465  2022  26/12/2022       Castilla y León
466  2022  26/12/2022                Madrid
467  2022  26/12/2022               Navarra

[468 rows x 3 columns]

In [17]:
#sending data to csv
df_bank_holidays.to_csv("../Data/Raw_Data/df_bank_holidays.csv")