## Hourly temperature for main cities in the country

Information exported from ERA5
(https://cds.climate.copernicus.eu/cdsapp#!/dataset/reanalysis-era5-pressure-levels?tab=overview)

In [1]:
#import libraries
import pandas as pd
import numpy as np
import cdsapi
import netCDF4

## List of cities

### Main cities: Latitud, longitud 
- Asturias - Oviedo: North 43.4°, West -5.8°, South 43.3°, East -5.7°
- Madrid - Madrid: North 40.4°, West -3.7°, South 40.3°, East -3.6°
- Cataluña - Barcelona: North 41.4°, West 2.1°, South 41.3°, East 2.2°
- Comunidad Valenciana - Valencia: North 39.5°, West -0.37°, South 39.4°, East -0.38°
- Andalucia - Sevilla: North 37.4°, West -6.0°, South 37.3°, East -5.9°
- Aragón - Zaragoza: North 41.7°, West -0.8°, South 41.6°, East -0.9°
- Murcia - Murcia: North 38.0°, West -1.1°, South 37.9°, East -1.2°
- País Vasco - Bilbao: North 43.3°, West -2.8°, South 43.2°, East -2.9° 
- Galicia - Vigo: North 42.2°, West -8.6°, South 42.1°, East -8.7°
- Castilla y León - Valladolid: North 41.7°, West -4.6°, South 41.6°, East -4.7°
- Cantabria - Santander: North 43.5°, West -3.7°, South 43.4°, East -3.8°
- La Rioja - Logroño: North 42.5°, West -2.4°, South 42.4°, East -2.5°
- Navarra - Pamplona: North 42.9°, West -1.6°, South 42.8°, East -1.7°
- Castilla la mancha - Albacete: North 39.0°, West -1.8°, South 38.9°, East -1.9°
- Extremadura - Badajoz: North 38.9°, West -6.9°, South 38.8°, East -7.0°

In [6]:
file_list=['Oviedo','Madrid','Barcelona','Valencia','Sevilla','Zaragoza','Malaga','Murcia','Bilbao','Vigo',
          'Alicante','Cordoba','Valladolid']

In [2]:
file_list=['Oviedo','Madrid','Barcelona','Valencia','Sevilla','Zaragoza']

## Data extration

In [3]:
%%time
for file in file_list:
    #Defining paths
    path="../Data/Hourly_Temperature/"+file+".nc"
    
    #Defining empty dataframes
    df1=pd.DataFrame()
    df2=pd.DataFrame()
    df3=pd.DataFrame()
    df4=pd.DataFrame() 
    df_time=pd.DataFrame() 
    
    #Defining nc 
    nc=netCDF4.Dataset(path,'r')
    
    #time
    time=nc.variables['time']
    dtime=netCDF4.num2date(time[:],time.units)
    df_time['time']=np.array(dtime,dtype=type(dtime))
    
    #temp
    temp_p1=np.array(nc.variables['d2m'][:,0,0],dtype=type(nc.variables['d2m'][:,0,0]))
    temp_p2=np.array(nc.variables['d2m'][:,0,1],dtype=type(nc.variables['d2m'][:,0,1]))
    temp_p3=np.array(nc.variables['d2m'][:,1,0],dtype=type(nc.variables['d2m'][:,1,0]))
    temp_p4=np.array(nc.variables['d2m'][:,1,1],dtype=type(nc.variables['d2m'][:,1,1]))
    
    df1['temp']=temp_p1
    df2['temp']=temp_p2
    df3['temp']=temp_p3
    df4['temp']=temp_p4
    
    #Concatenation        
    df=pd.concat([df1,df2,df3,df4])
    
    df=pd.merge(df, df_time,left_index=True, right_index=True)
    exec(file + " = df")

CPU times: user 8.75 s, sys: 18.3 s, total: 27 s
Wall time: 1min 7s

In [13]:
%%time
for file in file_list:
    file.to_csv("../Data/Hourly_Temperature/"+file+".csv")

AttributeError: 'str' object has no attribute 'to_csv'

In [4]:
Oviedo.to_csv("../Data/Hourly_Temperature/"+"Oviedo"+".csv")

In [5]:
pd.read_csv("../Data/Hourly_Temperature/"+"Oviedo"+".csv")

        Unnamed: 0        temp                 time
0                0  269.887412  2015-01-01 00:00:00
1                0  270.258563  2015-01-01 00:00:00
2                0  268.819181  2015-01-01 00:00:00
3                0  269.266227  2015-01-01 00:00:00
4                1  269.308332  2015-01-01 01:00:00
...            ...         ...                  ...
248447       62111  276.663266  2022-01-31 23:00:00
248448       62112  277.935786  2022-02-01 00:00:00
248449       62112  277.964896  2022-02-01 00:00:00
248450       62112  276.701213  2022-02-01 00:00:00
248451       62112  276.709010  2022-02-01 00:00:00

[248452 rows x 3 columns]

In [ ]:
#calcularlo todo a nivel españa
#ponderar las temperaturas con la población de cada comunidad
#marcar los días como festivos y ponderar los parciales con la población