https://datosclima.es/Aemet2013/DescargaDatos.html

In [3]:
import pandas as pd

In [4]:
pd.read_excel('../data/Temperature/Aemet2015-01/Aemet2015-01-01.xls')

,España,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,"Actualizado: viernes, 02 enero 2015 a las 09:0...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Fecha: jueves, 01 enero 2015",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Estación,Provincia,Temperatura máxima (ºC),Temperatura mínima (ºC),Temperatura media (ºC),Racha (km/h),Velocidad máxima (km/h),Precipitación 00-24h (mm),Precipitación 00-06h (mm),Precipitación 06-12h (mm),Precipitación 12-18h (mm),Precipitación 18-24h (mm)
4,Estaca de Bares,A Coruña,14.9 (14:50),7.9 (05:40),11.4,31 (17:50),26 (17:50),0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
773,Leciñena,Zaragoza,10.1 (16:50),-4.2 (06:00),3,12 (12:40),7 (12:40),0,0,0,0,0
774,Valmadrid,Zaragoza,10.8 (15:30),3.8 (18:30),7.3,66 (01:10),46 (01:10),0,0,0,0,0
775,Quinto,Zaragoza,10.9 (16:40),-4.1 (08:40),3.4,21 (00:10),12 (00:10),0,0,0,0,0
776,Caspe,Zaragoza,11.0 (17:00),-2.0 (08:50),4.5,NaN,NaN,0,0,0,0,0
777,Bujaraloz,Zaragoza,NaN,NaN,NaN,23 (13:40),15 (13:40),0,0,0,0,0